<div class="row" in-view (inview)="animateRow($event, 0)">
    <div class="col-md-6">
      <div class="card add-animation animation cursor-pointer" [ngClass]="{'animate': rowInView[0]}" (click)="openModal('slide-0')">
        <img src="/assets/images/hand-drawing-3.jpg" alt="Handdrawing with plants description">
      </div>
    </div>
    <div class="col-md-6">
      <div class="card add-animation animation cursor-pointer" [ngClass]="{'animate': rowInView[0]}" (click)="openModal('slide-1')">
        <img src="/assets/images/montage-2.jpg" alt="Photomontage">
      </div>
    </div>
</div>

<div class="row" in-view (inview)="animateRow($event, 1)">
  <div class="col-md-8">
    <div class="card add-animation animation cursor-pointer" [ngClass]="{'animate': rowInView[1]}" (click)="openModal('slide-2')">
      <img src="/assets/images/plan-vue-haute.jpg" alt="Plan">
    </div>
  </div>
  <div class="col-md-4">
    <div class="card add-animation animation cursor-pointer" [ngClass]="{'animate': rowInView[1]}" (click)="openModal('slide-3')">
      <img src="/assets/images/panorama-handdrawing.jpg" alt="Handdrawing">
    </div>
    <div class="card add-animation animation cursor-pointer" [ngClass]="{'animate': rowInView[1]}" (click)="openModal('slide-4')">
        <img src="/assets/images/showroom.jpg" alt="Showroom">
      </div>
  </div>
</div>            

<div class="row" in-view (inview)="animateRow($event, 2)">
  <div class="col-md-6">
    <div class="card add-animation animation cursor-pointer" [ngClass]="{'animate': rowInView[2]}" (click)="openModal('slide-5')">
      <img src="/assets/images/panorama-villa.jpg" alt="Panorama">
    </div>
  </div>            
  <div class="col-md-6">
    <div class="card add-animation animation cursor-pointer" [ngClass]="{'animate': rowInView[2]}" (click)="openModal('slide-6')"> 
      <img src="/assets/images/spiral-garden.jpg" alt="Spiral Garden">
    </div>
  </div>
</div>