<!--The content below is only a placeholder and can be replaced.-->
<div [ngClass]="{'nav-open': rightMenuDisplayed}">
  <app-menu></app-menu>
  <div class="wrapper">
    <div class="section section-header">
      <div class="parallax pattern-image">
        <img src="/assets/images/bg.jpg">
      </div>
      <div class="container">
        <div class="content">
          <h1>
            {{company}}
          </h1>
          <div class="separator-container">
            <div class="separator line-separator">
              ∎
            </div>
          </div>
          <p>
            {{company}} allow you to design, together, your own Eden.
          </p>
        </div>
      </div>    
    </div>
    <div class="section section-1">
      <div class="text-area">
        <div class="container">
          <div class="row">
            <div class="title">
              <h2>About {{company}}</h2>
              <div class="separator-container">
                <div class="separator line-separator">
                  ∎
                </div>
              </div>
              <p class="large">
                {{company}} is a startup that designs for you a custom exterior design project and accompany you for the realization. As a result of our work, you can do your garden yourself by following our step by step advice or consulting selected ladnscape comanies near you.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-8">
                <div class="card add-animation animation animate">
                  <img src="/assets/images/hand-drawing-1.jpg">
                </div>
              </div>
              <div class="col-md-4">
                <div class="card add-animation animation animate">
                  <img src="/assets/images/montage-3.jpg">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="card add-animation animation animate">
                  <img src="/assets/images/hand-drawing-2.jpg">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="card add-animation animation animate">
                  <img src="/assets/images/montage-1.jpg">
                </div>
              </div>
              <div class="col-md-4">
                <div class="card add-animation animation animate">
                  <img src="/assets/images/montage-2.jpg">
                </div>
              </div>
              <div class="col-md-4">
                <div class="card add-animation animation animate">
                  <img src="/assets/images/montage-4.jpg">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section section-1">
      <div class="text-area">
        <div class="container">
          <div class="row">
            <div class="title">
              <h2>About {{company}}</h2>
              <div class="separator-container">
                <div class="separator line-separator">
                  ∎
                </div>
              </div>
              <p class="large">
                {{company}} is a startup that designs for you a custom exterior design project and accompany you for the realization. As a result of our work, you can do your garden yourself by following our step by step advice or consulting selected ladnscape comanies near you.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section section-1">
      <div class="text-area">
        <div class="container">
          <div class="row">
            <div class="title">
              <h2>About {{company}}</h2>
              <div class="separator-container">
                <div class="separator line-separator">
                  ∎
                </div>
              </div>
              <p class="large">
                {{company}} is a startup that designs for you a custom exterior design project and accompany you for the realization. As a result of our work, you can do your garden yourself by following our step by step advice or consulting selected ladnscape comanies near you.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-right-menu></app-right-menu>
</div>

