<!--The content below is only a placeholder and can be replaced.-->
<app-menu></app-menu>
<div class="container" style="height:100%;width: 100%;position: absolute;"> 

  <div class="text-center color-white" style="top: 42%;position: relative">
    <h1 class="text-uppercase">
      Fiona Chapelliere's company
    </h1>
    <div class="separator-container">
      <div class="separator line-separator">
        ∎
      </div>
    </div>
    <p>
      L'entreprise Fiona Chapelliere vous propose de concevoir, ensemble, votre Eden.
    </p>
  </div>

  
</div>

