<!--The content below is only a placeholder and can be replaced.-->
<div [ngClass]="{'nav-open': rightMenuDisplayed}">
  <app-menu></app-menu>
  <div class="wrapper" (click)="toggleMenu()">
    <div class="section section-header" 
            in-view (inview)="animateTopMenu($event)"  
            [offset]="[0, 0, -65, 0]">
      <div class="parallax pattern-image">
        <img  src="/assets/images/bg.jpg">
      </div>
      <div class="container">
        <div class="content">
          <h1>
            {{company}}
          </h1>
          <div class="separator-container">
            <div class="separator line-separator">
              ∎
            </div>
          </div>
          <p class="subtitle" translate [translateParams]="{company: company}">
            Subtitle
          </p> 
        </div>
        <div class="bottom-line">
          <div class="btn-group-custom">
            <div class="col-md-6" class="btn-langue">
              <button class="btn btn-contact btn-block btn-share" [ngClass]="{'btn-langue-active': isFrLangueSelected}" (click)="selectLanguage('fr')">FR</button>
            </div>
            <div class="col-md-6" class="btn-langue">
              <button class="btn btn-contact btn-block btn-share" [ngClass]="{'btn-langue-active': !isFrLangueSelected}" (click)="selectLanguage('en')">EN</button>
            </div>
          </div>          
          <a class="scroll-arrow" [scrollTo]="'#about'" [scrollDuration]="700">
            <i class="fa fa-chevron-circle-down"></i>
          </a>
        </div>                 
      </div>        
    </div>
    <div class="section section-1" id="about">
      <div class="text-area">
        <div class="container">
          <div class="row">
            <div class="title">
              <h2 translate [translateParams]="{company: company}">About Company</h2>
              <div class="separator-container">
                <div class="separator line-separator">
                  ∎
                </div>
              </div>
              <p class="large" translate [translateParams]="{company: company}">
                Introduction section 1                
              </p>
            </div>
          </div>
        </div>
      </div>      
    </div>
    <div class="section section-projet" id="projects">
      <div class="text-area">
        <div class="container">
          <div class="title">
            <h2 translate>Projects</h2>
            <div class="separator-container">
              <div class="separator line-separator">
                ∎
              </div>
            </div>
          </div>
          <div class="projet-container">
            <div class="row">
              <div class="col-md-6">                
                <div class="card">
                  <span translate>Professional Text</span>
                  <ul>
                    <li translate>Professional Text Elem 1</li>
                    <li translate>Professional Text Elem 2</li>
                    <li translate>Professional Text Elem 3</li>
                    <li translate>Professional Text Elem 4</li>
                    <li translate>Professional Text Elem 5</li>
                    <li translate>Professional Text Elem 6</li>
                  </ul>
                </div>               
              </div>
              <div class="col-md-6">
                <div class="card">
                  <span translate>Private Text</span>    
                  <ul>
                    <li translate>Private Text Elem 1</li>
                    <span translate>Private Text Elem 2</span>
                    <li translate>Private Text Elem 3</li>
                  </ul>
                </div>     
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section section-image" id="images">
      <div class="container" >
        <div class="row">
          <div class="col-md-12">
            <div class="row" in-view (inview)="animateRow($event, 0)">
              <div class="col-md-8">
                <div class="card add-animation animation" [ngClass]="{'animate': rowInView[0]}">
                  <img src="/assets/images/hand-drawing-1.jpg">
                </div>
              </div>
              <div class="col-md-4">
                <div class="card add-animation animation" [ngClass]="{'animate': rowInView[0]}">
                  <img src="/assets/images/montage-3.jpg">
                </div>
                <div class="card add-animation animation" [ngClass]="{'animate': rowInView[0]}">
                    <img src="/assets/images/hand-drawing-3.jpg">
                  </div>
              </div>
              <!-- <div class="col-md-4">
                  <div class="card add-animation animation" [ngClass]="{'animate': rowInView[0]}">
                    
                  </div>
                </div> -->
            </div>
            <div class="row" in-view (inview)="animateRow($event, 1)">
              <div class="col-md-12">
                <div class="card add-animation animation" [ngClass]="{'animate': rowInView[1]}">
                  <img src="/assets/images/hand-drawing-2.jpg">
                </div>
              </div>
            </div>
            <div class="row" in-view (inview)="animateRow($event, 2)">
              <div class="col-md-4">
                <div class="card add-animation animation" [ngClass]="{'animate': rowInView[2]}">
                  <img src="/assets/images/montage-1.jpg">
                </div>
              </div>
              <div class="col-md-4">
                <div class="card add-animation animation" [ngClass]="{'animate': rowInView[2]}">
                  <img src="/assets/images/montage-2.jpg">
                </div>
              </div>
              <div class="col-md-4">
                <div class="card add-animation animation" [ngClass]="{'animate': rowInView[2]}">
                  <img src="/assets/images/montage-4.jpg">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section section-2" id="whatwedo">
      <div class="text-area">
        <div class="container">
          <div class="row">
            <div class="title">
              <h2 translate>What we do</h2>
              <div class="separator-container">
                <div class="separator line-separator">
                  ∎
                </div>
              </div>                
            </div>
            <div class="row">
                <div class="col-md-4">
                  <div class="card">
                      <div class="icon">
                        <i class="fa fa-pencil-square-o"></i>
                      </div>
                      <h3 translate>Diagnostic Title</h3>
                      <p translate>Diagnostic Text</p>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card">
                      <div class="icon">
                        <i class="fa fa-camera-retro"></i>
                      </div>
                      <h3 translate>Project Title</h3>
                      <p translate>Project Text</p>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card">
                      <div class="icon">
                        <i class="fa fa-pagelines"></i>
                      </div>
                      <h3 translate>Advice Title</h3>
                      <p translate>Advice Text</p>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section section-3" id="slider">
      <div class="text-area">
        <div class="container">
          <div class="row">
            <div class="title">
              <h2 translate>Slider</h2>
              <div class="separator-container">
                <div class="separator line-separator">
                  ∎
                </div>
              </div>
              <div id="comparison">
                <figure>
                  <div id="divisor" [ngStyle]="{'width.%': divisorWidth}"></div>
                </figure>
                <input type="range" min="0" max="100" [(ngModel)]="divisorWidth">
              </div>
              <div class="helper-text">
                <i class="fa fa-info-circle"></i> <span translate>Slider Tips</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section section-parcours" id="resume">
      <div class="text-area">
        <div class="container">
          <div class="row">
            <div class="title">
              <h2 translate>Resume</h2>
              <div class="separator-container">
                <div class="separator line-separator">
                  ∎
                </div>
              </div>
              <div class="row" in-view (inview)="animateRow($event, 3)">
                <div class="card add-animation animation" [ngClass]="{'animate': rowInView[3]}" >
                  <div class="row">
                    <div class="col-md-4">  
                      <div class="card-img-left">                          
                      </div>                             
                    </div>
                    <div class="col-md-8 card-sidetext" translate>                      
                      <p translate>Resume Text 1</p>              
                      <p translate>Resume Text 2</p>              
                      <p translate>Resume Text 3</p>
                    </div>
                  </div>                   
                </div>
              </div>              
            </div>
          </div>
        </div>
      </div>   
    </div>
    <div class="section section-4" id="contact">
      <app-contact-map></app-contact-map>
    </div>    
    <footer class="footer footer-color-black">
      <div class="container">
        <div class="copyright" translate>
          Contribution
        </div>
      </div>
    </footer>
  </div>
  <app-right-menu></app-right-menu>
</div>

