.separator-container {
  text-align: center;
  position: relative;
}
.separator-container .separator {
  color: #c5a47e;
  margin: 0 auto 1em;
  width: 11em;
}
.separator-container .separator.line-separator:before, .separator-container .separator.line-separator:after {
  display: block;
  width: 40%;
  content: " ";
  margin-top: 14px;
  border: 1px solid #c5a47e;
}
.separator-container .separator.line-separator:before {
  float: left;
}
.separator-container .separator.line-separator:after {
  float: right;
}
.section {
  padding: 1.875em 0;
  position: relative;
  background-color: #FFFFFF;
}
.section .title {
  max-width: 760px;
  margin: 0 auto;
  display: block;
}
.section .text-area {
  padding: 4.375em 0 0 0;
  position: relative;
  z-index: 3;
  display: block;
  background-color: #FFFFFF;
}
.section-header {
  padding: 0;
}
.section-header .container {
  z-index: 3;
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  top: 0;
}
.section-header .content {
  position: relative;
  color: white;
  text-align: center;
  text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
  vertical-align: center;
  line-height: 1.7;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.section-header h1 {
  letter-spacing: 0.1em;
  font-weight: 100;
  font-size: 6em;
  font-family: "Slim-Joe";
  text-transform: uppercase;
  text-shadow: -2px 2px 0px rgba(0, 0, 0, 0.3), -2px 4px 2px rgba(0, 0, 0, 0.1);
}
.section-header h5 {
  font-size: 1.3em;
  margin: 0 auto .5em;
  line-height: 1.5;
  letter-spacing: 0.125;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
  font-family: 'Droid Serif',"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.section-header p {
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin: 1em 0 0.5em;
}
.section-header p span {
  text-transform: lowercase;
}
.section-header .separator {
  color: #fff;
  margin: 2em auto;
}
.section-header .separator.line-separator:before, .section-header .separator.line-separator:after {
  border-color: white;
}
.section .parallax, .section .full-image {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: block;
}
.section .parallax > img, .section .full-image > img {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: relative;
  z-index: 1;
}
.section .responsive-background {
  position: relative;
  background-color: #c5a47e;
  padding: 0;
  z-index: 1;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 500px;
}
.pattern-image {
  width: 100%;
  background-size: 1920px;
}
.section-we-are-1 p {
  color: #777777;
}
.title{
  margin-bottom: 50px;
}
.title, .card {
  text-align: center;
}
.title p, .card p {
  color: #777777;
}
.projet-container{
  text-align: center;  
  color: #777777; 
}
.card img {
  max-width: 100%;
}
.card{
  margin-bottom: 30px
}
.add-animation{
  opacity: 0;
  -webkit-transition: all 0.7s ease-out 0.6s;
  -moz-transition: all 0.7s ease-out 0.6s;
  -o-transition: all 0.7s ease-out 0.6s;
  -ms-transition: all 0.7s ease-out 0.6s;
  transition: all 0.7s ease-out 0.6s;
}
.animation{
  -webkit-transition: all 0.7s ease-out 0.3s;
  -moz-transition: all 0.7s ease-out 0.3s;
  -o-transition: all 0.7s ease-out 0.3s;
  -ms-transition: all 0.7s ease-out 0.3s;
  transition: all 0.7s ease-out 0.3s;
}
.animate{
  opacity: 1;  
}
.section-2 .card{
  border:none;
}
.section-2 .icon{
  font-size: 75px;
  line-height: 75px;
  color: #c5a47e;
  margin-bottom: 10px;
}
.section-2 .title{
  margin-bottom: 50px;
}
.card .icon {
  font-size: 60px;
  line-height: 60px;
}
.card .icon ~ h3 {
  margin-top: 5px;
  margin-bottom: 0px;
}
.card p {
  font-size: 1em;
  min-height: 100px;
}
.card h3 {
  text-transform: capitalize;
}
a.scroll-arrow{
  text-align: center;
  font-size: 35px;
  color: white;
  width: 50px;
  line-height: 52px;
  border-radius: 50%;
  height: 50px;
  border: 1px solid white;
  display: block;
  margin: 0 auto;
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 1029;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  opacity: .9;
  cursor: pointer;
}
a.scroll-arrow:hover{
  color: white;
}
a.scroll-arrow i:hover, a.scroll-arrow i:focus {
  color: white;
}
a.scroll-arrow:hover {
  opacity: 1;
}
.section-4, .btn-group-custom {
  position: relative;
  overflow: hidden;
  margin-top: 30px;
  padding-bottom: 0;
  -webkit-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  -moz-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  -o-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  -ms-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
}
.nav-open .section-4, .nav-open .btn-group-custom{
  -webkit-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  -moz-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  -o-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  -ms-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);

  -webkit-transform: translate3d(150px, 0, 0);
  -moz-transform: translate3d(150px, 0, 0);
  -o-transform: translate3d(150px, 0, 0);
  -ms-transform: translate3d(150px, 0, 0);
  transform: translate3d(150px, 0, 0);
}
.footer .copyright {
    color: #777777;
    padding: 10px 15px;
    margin: 15px 3px;
    line-height: 20px;
    text-align: center;
    font-size: 14px;
    font-family: 'Droid Serif', "Helvetica Neue", "Helvetica","Arial";
}
.footer {
    background-color: #FFFFFF;
    line-height: 20px;
    border-top: 1px solid #DDDDDD;
}
.footer-color-black, .footer-transparent {
    background-color: rgba(30, 30, 30, 0.97);
    color: #DDDDDD;
}
.footer {
    overflow: hidden;
}
.btn-group-custom{  
  position: absolute;
  bottom: 20px;
}
.btn {
    border-radius: 2px;
    border-width: 1px;
    font-family: "Verlag-Book","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 600;
    line-height: 1;
}
.btn-black {
  background-color: #434547;
  border-color: #434547;
  color: white !important;
  opacity: 1;
  line-height: 1em;
  position: relative;
  padding: 16px 44px;
  letter-spacing: 2px;
}
.btn-black i {
  position: absolute;
  top: 14px;
  right: 0.25em;
  opacity: 0;
}
.btn-black:hover, .btn-black:focus {
  background-color: #343434;
  border-color: #343434;
  color: white !important;
  padding: 16px 54px 16px 34px;
}
.btn-black:hover i, .btn-black:focus i {
  right: 26px;
  opacity: 1;
}
.btn-share{
  color: #444444;
  border-color: #444444;
  font-weight: 400; 
  background-color:white; 
}
.btn-langue{
  float:left;
  padding-right: 0;
  padding-left: 0;
}
.btn-share:focus{
  -webkit-box-shadow: none; 
  box-shadow: none; 
}
.btn-langue-active{
  background-color: #444444;
  color: white;
}
.btn-group-custom .btn-langue .btn-share:hover{
  background-color:#c5a47e;
  color: white;
}
.btn-group-custom .btn-langue .btn-langue-active:hover{  
  background-color: #444444;
  color: white;
}
div#comparison { 
  width: 60vw;
  height: 60vw;
  max-width: 600px;
  max-height: 600px;
  overflow: hidden; 
}
div#comparison figure { 
  background-image: url(/assets/images/montage-before.jpg); 
  background-size: cover;
  position: relative;
  font-size: 0;
  width: 100%; 
  height: 100%;
  margin: 0; 
}
div#comparison figure > img { 
  position: relative;
  width: 100%;
}
div#comparison figure div { 
  background-image: url(/assets/images/montage-after.jpg);
  background-size: cover;
  position: absolute;
  width: 50%; 
  box-shadow: 0 5px 10px -2px rgba(0,0,0,0.3);
  overflow: hidden;
  bottom: 0;
  height: 100%;
}
input[type=range]{
  -webkit-appearance:none;
  -moz-appearance:none;
  position: relative;
  top: -2rem; left: -2%;
  background-color: rgba(255,255,255,0.1);
  width: 102%; 
  cursor:ew-resize;
}
input[type=range]:focus { 
  outline: none; 
}
input[type=range]:active { 
  outline: none;  
}
input[type=range]::-moz-range-track { 
  -moz-appearance:none;
  height:15px;
  width: 98%;
  background-color: rgba(255,255,255,0.1); 
  position: relative;
  outline: none;    
 }
input[type=range]::active { 
  border: none; 
  outline: none;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance:none;
  width: 20px; height: 15px;   
  background: #fff;
  border-radius: 0;
}
input[type=range]::-moz-range-thumb {
  -moz-appearance: none;
  width: 20px;
  height: 15px;
  background: #fff;
  border-radius: 0;
}   
input[type=range]:focus::-webkit-slider-thumb {
  background: rgba(255,255,255,0.5);
}
input[type=range]:focus::-moz-range-thumb {
  background: rgba(255,255,255,0.5);
}
.helper-text{
  color:#777777;
  font-style: italic;
}