agm-map{
	height: 570px;
}
.contact-container {
  position: relative;
}
.contact-container .map {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    height: 570px;
    overflow: hidden;
    display: block;
}
.contact-container .address-container {
	position: absolute;
	left: 0;
	height: 570px;
	z-index: 3;
	padding: 20px 20px 20px 60px;
	width: 28%;
	background-color: #FFFFFF;
	height: 470px;
	top: 50px;
	padding: 20px;
}
.contact-container .address-container .address{
	text-align: center;    
	margin-top: 40px;
}
.address h4 {
  font-size: 1.6em;
  margin: 30px 0 15px;
}
.address p {
  font-size: 1em;
}
.btn,
.btn-black i {
  -webkit-transition: all 150ms ease-out;
  -moz-transition: all 150ms ease-out;
  -o-transition: all 150ms ease-out;
  -ms-transition: all 150ms ease-out;
  transition: all 150ms ease-out;
}
.btn {
    border-radius: 2px;
    border-width: 1px;
    font-family: "Verlag-Book","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 600;
    line-height: 1;
}
.btn-black {
  background-color: #434547;
  border-color: #434547;
  color: white !important;
  opacity: 1;
  line-height: 1em;
  position: relative;
  padding: 16px 44px;
  letter-spacing: 2px;
}
.btn-black i {
  position: absolute;
  top: 14px;
  right: 0.25em;
  opacity: 0;
}
.btn-black:hover, .btn-black:focus {
  background-color: #343434;
  border-color: #343434;
  color: white !important;
  padding: 16px 54px 16px 34px;
}
.btn-black:hover i, .btn-black:focus i {
  right: 26px;
  opacity: 1;
}
.btn-share{
	color: #444444;
  border-color: #444444;
  font-weight: 400;	
  background-color:white; 
}

