<div class="contact-container">
	<div class="address-container">
		<div class="address">
			<h4 translate>Where to meet</h4>
			<p class="text-gray">
				11 Chemin Neuf <br>
				Biot, France
			</p>
			<h4 translate>Want to say hello</h4>
			<a class="btn btn-black btn-contact" href="mailto:fiona@graphite-paysage.fr">
				<span translate>CONTACT US</span>
				<i class="fa fa-paper-plane"></i>
			</a>
			<h4 translate>Want to share</h4>
			<div class="row justify-content-sm-center justify-content-center">
				<div class="col-md-6 col-sm-3 col-3">
					<button class="btn btn-lg btn-contact btn-block btn-share"><i class="fa fa-facebook-square"></i> <span class="socialNetwork">Facebook</span></button>
				</div>
				<div class="col-md-6 col-sm-3 col-3">
					<button class="btn btn-lg btn-contact btn-block btn-share"><i class="fa fa-pinterest-square"></i> <span class="socialNetwork">Pinterest</span></button>
				</div>
			</div>
			
		</div>
	</div>
	<div class="map">
		<agm-map [latitude]="lat" [longitude]="lng" [zoom]=14 [scrollwheel]=false>
		  	<agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
		</agm-map>
	</div>
</div>

