<div class="collapse navbar-collapse" [@menuTranslation]="menuTranslate()" style="min-height: 900px;">
	<ul class="nav navbar-nav">
		<li class="social-links">
			<a href="mailto:fiona@graphite-paysage.fr">
				<i class="fa fa-envelope fa-lg"></i>
			</a>
			<a href="https://www.facebook.com/Graphitepaysage/">
				<i class="fa fa-facebook fa-lg"></i>
			</a>
			<a href="https://www.pinterest.fr/graphitepaysage/">
				<i class="fa fa-pinterest-square fa-lg"></i>
			</a>
			<a href="https://www.linkedin.com/in/fiona-chapelli%C3%A8re-1b046a166/">
				<i class="fa fa-linkedin fa-lg"></i>
			</a>
		</li>
		<li><a [scrollTo]="'#about'" [scrollDuration]="700" translate (click)="closeMenu()">About</a></li>
		<li><a [scrollTo]="'#projects'" [scrollDuration]="700" translate (click)="closeMenu()">Projects</a></li>
		<li><a [scrollTo]="'#images'" [scrollDuration]="700" translate (click)="closeMenu()">Realisations</a></li>
		<li><a [scrollTo]="'#whatwedo'" [scrollDuration]="700" translate (click)="closeMenu()">What we do</a></li>
		<li><a [scrollTo]="'#slider'" [scrollDuration]="700" translate (click)="closeMenu()">Slider</a></li>
		<li><a [scrollTo]="'#resume'" [scrollDuration]="700" translate (click)="closeMenu()">Resume</a></li>
		<li><a [scrollTo]="'#contact'" [scrollDuration]="700" translate (click)="closeMenu()">Contact</a></li>
	</ul>
</div>