.navbar-collapse {
  position: fixed;
  display: block;
  top: 0;
  height: 100%;
  width: 300px;
  right: 300px;
  z-index: 1032;
  visibility: visible;
  background-color: #999;
  overflow-y: visible;
  border-top: none;
  text-align: left;
  border-left: 1px solid #e3e3e3;
  padding-right: 0px;
  padding-left: 40px;
  -webkit-transform: translate3d(300px, 0, 0);
  -moz-transform: translate3d(300px, 0, 0);
  -o-transform: translate3d(300px, 0, 0);
  -ms-transform: translate3d(300px, 0, 0);
  transform: translate3d(300px, 0, 0);
  -webkit-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  -moz-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  -o-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  -ms-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
}
.navbar-collapse ul {
  position: relative;
  z-index: 3;
  overflow-y: auto;
  height: 95%;
}
.navbar-collapse .nav > li {
  border-bottom: 1px solid #e5e5e5;  
  padding: 24px 0;
}
.navbar-collapse .nav > li:last-child {
  border-bottom: 0;
}
.navbar-collapse .nav > li > a {
  margin: 0px 0px;
  color: #444444;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 13px;
  line-height: 13px;
  cursor: pointer;
}
.navbar-collapse .nav > li > a:hover, .navbar-collapse .nav > li > a.active {
  color: #c5a47e;
}
.navbar-collapse .nav > li.social-links {
  text-align: center;
  margin-left: -40px;
}
.navbar-collapse .nav > li.social-links > a {
  font-size: 18px;
  padding: 24px 15px;
}
.navbar-collapse::after {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #FFFFFF;
  display: block;
  content: "";
  z-index: 1;
}
.navbar-collapse.has-image::after {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(17, 17, 17, 0.8);
  display: block;
  content: "";
  z-index: 1;
}