<div class="collapse navbar-collapse" [@menuTranslation]="menuTranslate()" style="min-height: 900px;">
	<ul class="nav navbar-nav">
		<li class="social-links">
			<a>
				<i class="fa fa-twitter fa-lg"></i>
			</a>
			<a>
				<i class="fa fa-facebook fa-lg"></i>
			</a>
			<a>
				<i class="fa fa-pinterest-square fa-lg"></i>
			</a>
			<a>
				<i class="fa fa-linkedin fa-lg"></i>
			</a>
		</li>
		<li><a [scrollTo]="'#about'" [scrollDuration]="1000">About</a></li>
		<li><a [scrollTo]="'#whatwedo'" [scrollDuration]="1000" >What we do</a></li>
		<li><a>Contact</a></li>
	</ul>
</div>